# CS 585 - HW 1 - Getting Started

This notebook is provided for students who are new to Python. Please note a starter notebook will not be provided for all assignments.

In [1]:
#NLTK setup - uncomment and run first time you import NLTK
import nltk
nltk.download('punkt')

import pandas as pd
from nltk.tokenize import word_tokenize
from csv import QUOTE_NONE

[nltk_data] Downloading package punkt to /Users/sonjia/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
df_sst = pd.read_csv("SST-2/train.tsv",delimiter="\t")
df_sst.head(3)

                                            sentence  label
0       hide new secretions from the parental units       0
1               contains no wit , only labored gags       0
2  that loves its characters and communicates som...      1

In [3]:
df_qnli = pd.read_csv("QNLI/dev.tsv",delimiter="\t",quoting=QUOTE_NONE)
df_qnli.head(3)

,index,question,sentence,label
0,0,What came into force after the new constitutio...,"As of that day, the new constitution heralding...",entailment
1,1,What is the first major city in the stream of ...,The most important tributaries in this area ar...,not_entailment
2,2,What is the minimum required if you want to te...,In most provinces a second Bachelor's Degree s...,not_entailment

In [4]:
# demo - split a sentence into tokens
some_sentence = df_sst.sentence.iloc[-100]
word_tokenize(some_sentence)

['really', ',', 'save', 'your', 'disgust', 'and', 'your', 'indifference']